.site {
    overflow-x: hidden;
}

.wrapper{
    
    max-width: 1250px;
    margin: 0 auto;
    padding: 0.8rem 0.8rem 3rem;

    @include mq($mq1000) {
            padding: 70px;
    }
    
}
.wrapper-fp{
    @include mq($mq670) {
        max-width: 1250px;
        margin: 0 auto;
        padding: 0.8rem 0.8rem 3rem;    
    }

}


.blog,
.tax-product_cat  {
    .wrapper {
        padding: 0 0.8rem 3rem;

        @include mq($mq1000) {
            padding: 0px 70px 70px;
        }
    }
}