section.store-locator{
    .locator-map{
        #wpsl-wrap{
            .wpsl-search{
                #wpsl-search-wrap{
                    font-size: 0.9em;
                    label{
                        line-height: 36px;
                    }
                    input{
                        border-radius: 0px;
                        height: 36px;
                    }
                    form{
                        .wpsl-select-wrap{                        
                            #wpsl-radius,
                            #wpsl-results{
                                label{
                                    line-height: 36px;
                                }
                                .wpsl-dropdown{
                                    height: 36px;   
                                    border-radius: 0px !important;
                                    -moz-border-radius:0px;
                                    -webkit-border-radius:0px;
                                    .wpsl-selected-item {
                                        line-height: inherit;
                                    }
                                }
                            }
                        }
                        .wpsl-search-btn-wrap {
                            margin-top: 1.5em;
                            input#wpsl-search-btn{
                                width: 5rem;
                                background: none;
                                background-color:$color__mossgreen;
                                border-radius: 0px;
                                border:none;
                                font-weight: inherit;
                                color: white;
                            }
                            @include mq($mq570){
                                margin:0;
                            }
                        }
                        @include mq($mq570){
                            width: 100%;
                            display: inline-grid;
                            grid-template-areas:
                                "location ."
                                "search search-btn";
                            grid-template-columns: 80% 1fr;
                            grid-template-rows: 1fr 1fr;
                            .wpsl-input{
                                grid-area: location;
                            }
                            .wpsl-select-wrap{
                                grid-area: search;
                            }
                            .wpsl-search-btn-wrap{
                                grid-area: search-btn;
                                justify-self: end;
                            }
                        }
                        @include mq($mq720){
                            grid-template-rows: inherit;
                            grid-template-columns: 36% 52% 12%;
                            grid-template-areas:"location search search-btn";
                           label{
                               max-width:90px;
                           } 
                           input#wpsl-search-input{
                               max-width:10em;
                           }
                        }
                        @include mq($mq768){
                            grid-template-columns: 39% 49% 12%; 
                            .wpsl-input{
                                input#wpsl-search-input{
                                    max-width: 12em;
                                }
                            }
                        }
                        @include mq($mq800){
                            .wpsl-input{
                                input#wpsl-search-input{
                                    max-width: 15em;
                                }
                            }
                        }
                    }
                    @include mq($mq670){
                        font-size: 0.85em;
                        #wpsl-search-wrap{
                            max-height: 3rem;
                    }
                        
                    }
                }          
            } 
            #wpsl-result-list{
                #wpsl-stores{
                    ul{
                        li{
                            .wpsl-direction-wrap{
                                font-size:0.85em;
                                a.wpsl-directions{
                                    @include cart-btn();
                                    padding: 0.5rem;
                                    background-color:$color__darkgray;
                                    #{$link-hover-selector}{
                                        background-color:lighten($color__darkgray, 10%);
                                        cursor: pointer;
                                    }  
                                }
                            } 
                        }
                    }
                }
            }   
        }
    }
}