.page-id-15{
    .site-content{
        padding-top: 3rem;

        .entry-content{
            .woocommerce-cart-form{
                tr.cart_item{
                    display:grid;
                    grid-template-areas: 
                    "p-thumb"
                    "p-name"
                    "p-price"
                    "p-quantity"
                    "p-subtotal"
                    "p-remove";
                    padding-bottom: 1rem;
                    td{
                        padding-bottom:1em;
                    }
                    td.product-remove {

                        grid-area: p-remove;
                        a.remove {
                            @include cart-btn();
                        }
                    }

                    td.product-thumbnail{
                        grid-area: p-thumb;
                        text-align: center;
                        &:before{
                            display: none;
                        }
                    }
                    td.product-name{
                        grid-area:p-name;
                    }
                    td.product-price{
                        grid-area:p-price;
                    }
                    td.product-quantity{
                        grid-area:p-quantity;
                    }
                    td.product-subtotal{
                        grid-area:p-subtotal;
                    }
                }
                .actions{
                    .coupon{
                        display: grid;
                        grid-template-columns: 25% 50% 25%;
                        padding-bottom: 1.2rem;
                        align-items: center;
                        label{
                            justify-self: start;
                        }
                        input#coupon_code {
                            width: 93%;
                        }
                        .button{
                            background-color:$color__coolgray;
                            color:$color__bodyfont;
                        }
                    }
                    button.button{
                        border-radius: 0px;
                        @include cart-btn();
                        background-color: $color__cat_border;
                    }
                }
                @include mq($mq768){
                    max-width: 900px;
                    margin: 0 auto;
                    thead{
                        tr{
                            display:grid;
                            grid-template-areas: ". th-p-name th-p-price th-p-quantity th-p-subtotal .";
                            justify-items: start;
                            grid-template-columns: 18% 23% 11% 11% 11% 20%;
                            grid-column-gap: 0.5em;

                            th.product-remove,
                            th.product-thumbnail {
                                display: none;
                            }
                            .product-name{
                                grid-area: th-p-name;
                            }
                            .product-price{
                                grid-area: th-p-price;
                            }
                            .product-quantity{
                                grid-area: th-p-quantity;
                            }
                            .product-subtotal{
                                grid-area: th-p-subtotal;
                            }
                        }
                    }
                    tr.cart_item{
                        grid-template-areas: 
                        "p-thumb p-name p-price p-quantity p-subtotal p-remove";
                        grid-template-columns: 18% 23% 11% 11% 11% 20%;
                        align-items: center;
                        grid-column-gap: 0.5em;

                        td.product-remove {
                            height: 2.8rem;
                            a.remove {
                                @include cart-btn();
                                height: 2.8rem;
                            }
                        }
                        td.product-quantity{
                            .quantity{
                                input[type="number"]{
                                    border:none;
                                }
                            }
                        }

                    }
                    .actions{
                        display: grid;
                        grid-template-areas: ". coupon coupon coupon . coupon-btn";
                        grid-template-columns: 18% 23% 11% 11% 11% 20%;
                        align-items: center;
                        grid-column-gap: 0.5em;
                        .coupon{
                            grid-area: coupon;
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 0rem;

                            input#coupon_code {
                                width: 54%;
                            }
                          
                            .button{
                                width: 5rem;
                            }
                        }

                        

                        button.button{
                            grid-area:coupon-btn;
                            max-width: 8.805rem;
                        }
                    }
                }
            }
            .cart-collaterals{
                ul#shipping_method {
                    list-style: none;
                    margin-bottom: 0.5rem;
                }
                p.woocommerce-shipping-destination {
                    text-align: left;
                }
                form.woocommerce-shipping-calculator {
                    transform: translate(0, -1rem);
                    a.shipping-calculator-button {
                        @include cart-btn();
                    }
                    section.shipping-calculator-form{
                        padding: 1rem 0;

                        p{
                            padding-bottom: 1rem;

                            button.button{
                                height: 1.8rem;
                                border-radius: 0px;
                                @include cart-btn();
                                background-color: $color__cat_border;
                            }
                        }
                        .select2-container--default .select2-selection--single {
                            border-radius: 0px;
                        }
                    }
                    
                }
                .wc-proceed-to-checkout {
                    text-align: center;
                
                    a.checkout-button.button.alt.wc-forward {
                            @include cart-btn();
                            font-size: 1rem;
                            background-color: $color__cat_border;
                    }
                }
                @include mq($mq768){
                    max-width: 900px;
                    margin: 0 auto;
                    padding-right: 0.8rem;
                    tbody{
                        display:grid;
                        grid-template-areas: 
                            "cart-sub order-total"
                            "shipping-total .";
                            grid-template-columns: 24rem 1fr;
                        .cart-subtotal{
                            grid-area:cart-sub;
                            display: grid;
                            grid-template-columns: 9rem 1fr;

                        }
                        tr.woocommerce-shipping-totals.shipping{
                            grid-area:shipping-total;
                            display: grid;
                            grid-template-columns: 9rem 1fr;
                            ul{
                                margin: 0;
                            }
                            form.woocommerce-shipping-calculator {
                             text-align: right;
                            //  section.shipping-calculator-form{
                            //      display: block;
                            //  }
                            }
                        }
                        .order-total{
                            grid-area:order-total;
                            justify-self: end;
                            th {
                                padding-right: 4.5rem;
                            }
                        }

                    }
                    .wc-proceed-to-checkout {
                        text-align: right;
                        transform: translateY(-3.8rem);
                    }

                }
                @include mq($mq800){
                    padding-right: 2rem;
                }

                @include mq($mq900){
                    padding-right: 3.25rem;
                }
            }
        }
        //Hide edit button
        .entry-footer{
            span.edit-link {
                display: none;
            }
        }
    }
}