/**
 * Checkout
 */
.page-id-16{
	.site-content{
		header{
			padding-top: 3rem;
		}
		.entry-content{
			.checkout{
				h3{
					padding-bottom:1.5rem;
				}
				.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout{
					.woocommerce-error {
						background-color: transparent;
						width: 100%;
						padding: 0.5em 0.75em;
						margin: 0;
						color: red;
						list-style: none;
						font-size:0.85rem;
						li {
							
							&:before{
								content: "*" ;
							}
						 }
						 
					}
				}
				.col2-set{
					.col-1{
						.woocommerce-billing-fields{

							.woocommerce-billing-fields__field-wrapper{
								display:table;
								width:100%;
								.form-row{
									width:100%;
									display:flex;
									flex-direction: column;
									padding-bottom:1.5rem;

									span.woocommerce-input-wrapper{
										input{
											width:100%;
										}
										.select2-container{
											.select2-selection--single{
												border-radius: 0;
											}
										}
									}
								}
							}
							.woocommerce-account-fields{
								padding-bottom:1.5rem;
							}
						}
						.woocommerce-account-fields{
							.create-account.woocommerce-validated {
								.woocommerce-form__label-for-checkbox.checkbox{
									font-size:0.85rem;
									input#createaccount{
										width:18px;
										height:18px;
										margin-right: 0.2rem;
									}
								}
							}
						}
					}
					.col-2{
						.woocommerce-shipping-fields{
							#ship-to-different-address {
								font-size: 0.85rem;
								label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
									display: inline-flex;
									align-items: center;
									input#ship-to-different-address-checkbox {
										width: 18px;
										height: 18px;
										margin-right: 0.5rem;
									}
								}
							}
						}
						.woocommerce-additional-fields{
							padding-bottom:1.5rem;
						}
					}
				}
				#order_review{
					
					table.shop_table{
						thead{
							width:100%;
							tr {
								width:100%;
								th.product-name,
								th.product-price {
									text-align: left;	
								}

								th.product-total{
									text-align: right;
								}
								
							}
						}
						tbody{					
							tr{			
								td.product-name{	
									dl.variation{
										dt, dd{
											font-size:0.8rem;
										}
										dd{
											margin:0;
										}
									}
								}
								td.product-total {
									text-align: right;
								}
							}
						}
						tfoot{
							tr{
								th{
									text-align:left;
								}
								td{
									text-align:right;	
									ul{
										list-style: none;
										margin:0;
									}
								}
							}
							tr.woocommerce-shipping-totals.shipping{
								width: 100%;
   								position: relative;
								td{
									ul#shipping_method {
										label{
											font-size: 0.8rem;
											span.woocommerce-Price-amount.amount {
												font-size: 1rem;
											}

											@include mq($mq500){
												font-size: initial;
											}
										}
									}
								}
							}
						}
					}
					.woocommerce-checkout-payment{
						ul{
							list-style: none;
							margin:0;
							padding-bottom:1.5rem;
							.wc_payment_method.payment_method_paypal{
								display: flex;
								flex-wrap: wrap;
								align-items: center;
								justify-content: space-between;
								input#payment_method_paypal {
									margin-top: -2.8em;
									width: 18px;
									height: 18px;
									-moz-appearance: radio;
									-webkit-appearance: radio;
								}
								label{
									display: flex;
									flex-wrap: wrap;
									align-items: center;
									justify-content: space-between;
									width: 93%;
									position: relative;

									@include mq($mq550){
										width:95%;
									}
									@include mq($mq768){
										width:93%;
									}

									img{
										height: 70px;
										position: absolute;
										top: -1rem;
										right: 0;
									}
									a.about_paypal {
										font-size: 0.8rem;
										text-decoration: underline;
										cursor: pointer;
										color:$color__mossgreen;
										width: 100%;
										margin-top: 2rem;
										text-align: right;
									}
								}
								.payment_box.payment_method_paypal {
									padding-top: 0.5rem;
									padding-left: 5%;
									p{
										padding-bottom: 1rem;
										font-size: 0.8rem;
										display:none !important;
										a{
											text-decoration: underline;
											cursor: pointer;
											color:$color__mossgreen;
										}
									}
								}
							}
							.wc_payment_method.payment_method_stripe {
								display: inline-flex;
								align-items: center;
								flex-wrap: wrap;
								padding-top: 1rem;
								width: 100%;
								
								 p{
									 display: none;
								 }

								input#payment_method_stripe {
									margin-right: 1.8%;
									width: 18px;
									height: 18px;
									-moz-appearance: radio;
									-webkit-appearance: radio;
									@include mq($mq420){
										margin-right: 2.5%;
									}
									@include mq($mq1095){
										margin-right: 3%;
									}
								}
								label {
									display: flex;
									align-items: center;
									flex: 1;
									width: 90%;
								
								}
								.payment_box.payment_method_stripe {
									width: 100%;
								}
								.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated{
									padding-top:1rem;
									font-size: 0.8rem;
									input#wc-stripe-new-payment-method {
										transform: translateY(1.5px);
										@include mq($mq1024){
											transform:none;
										}
									}
									label{
										width:100%;
									}
								}
							}
						}
						.form-row.place-order{
							.woocommerce-terms-and-conditions-wrapper{
								padding-bottom:1.5rem;
								p{
									font-size: 0.8rem;

									a{
										text-decoration: underline;
										cursor: pointer;
										color:$color__mossgreen;
									}
									
								}
							}
							button#place_order{
								   background-color: $color__cat_border;
								   border-radius: 0;
								   color:#fff;
								   padding: 1rem;
								   font-size: 0.85rem;
								   #{$link-hover-selector}{
                                    background-color:lighten($color__cat_border, 10%);
                                    cursor: pointer;
                                }
						   }
						}
					}
				}
				@include mq($mq615)	{
					.col2-set{
						.col-1{
							.woocommerce-billing-fields{
	
								.woocommerce-billing-fields__field-wrapper{
									.form-row{
										width:49%;
										display:inline-table;

										&:nth-of-type(odd){
											margin-right:2%;
										}
									}
									p#billing_address_2_field {
										transform: translateY(1.6rem);
									}
								}
								
							}
						}

					}
				}
				@include mq($mq768){
					#order_review{
						.woocommerce-checkout-payment{
							ul{
								width:50%;
							}
							.form-row.place-order{
								display: inline-flex;
								justify-content: space-between;
								.woocommerce-checkout-payment{
									ul{
										.wc_payment_method.payment_method_stripe {
											label {
												width: 90%;
											}
										}
									}
								}
								.woocommerce-terms-and-conditions-wrapper{
									width: 50%;
								}
								button#place_order{
									height: 50px;
    								width: 200px;
								}

							}
						}
					}
				}	
						
			}
		}	
		//Hide edit button
		.entry-footer{
			span.edit-link {
				display: none;
			}
		}
	}
}