.page-id-17{
    .woocommerce{
        .woocommerce-message{
            margin-bottom: 1rem;
            .form-row-last{
                input#password_2{
                    width:100%;
                }
            }  
        }
        .woocommerce-error {
            list-style: none;
        }
        form.woocommerce-ResetPassword.lost_reset_password {
            display: table;
            width: 100%;
            position: relative;
            p{
                padding-bottom:1rem;
                &:first-of-type{
                    font-size:1rem;
                    font-weight: 500;
                    display: block;
                }
                &:last-of-type{
                    .woocommerce-Button.button{
                        @include cart-btn();
                        width: 100%;
                        font-family: $font__heading;
                        text-transform: uppercase;
                        font-size: 0.9rem;
                        border-radius: 0;
                        background-color:$color__darkgray;
                        margin-bottom: 0.5rem;
                        #{$link-hover-selector}{
                            background-color:lighten($color__darkgray, 10%);
                            cursor: pointer;
                        }
                    }
                }
            }
            .form-row-first{
                margin-bottom:2rem;
                input{
                    width:100%;
                    margin-top: 0.5rem;
                    
                }
                .woocommerce-password-strength.short{
                    color:red;
                    text-align: initial;
                    padding: 0.5rem 0;
                    font-weight: 400;
                }
                small.woocommerce-password-hint {
                    font-size: 0.8rem;
                }
            }
            .form-row-last{
                label {
                    display: block;
                }
                input#password_2 {
                    width: 100%;
                    display: inline-block;
                    margin-top: 0.5rem;
                }
            }
            @include mq($mq670){
                &:after{
                    content: '';
                    width: 250px;
                    height: 140px;
                    background-image: url(images/assets/botanic-doodle/doodle-shop-two.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    position: absolute;
                    bottom: -9%;
                    right: 0;
                    transform: translate(0, 9%) rotate(-7deg);
                }
                p{
                    &:last-of-type{
                        max-width: 15rem;
                    }
                }
                .form-row-first {
                    width: 50%;
                    display: inline-table;
                    padding-right: 2%;
                    input#password_1 {
                        width: 100%;
                    }
                }
                .form-row-last{
                    padding-top: 1rem;
                    display: inline-table;
                    width: 50%;
                }
                
            }

        }
    }   
}