.promotional-banner {
    position: relative;
    padding: 0;

    &.style-01 {
        background-color: $color__coolgray;
    }

    &.style-02 {
        background-color: $color__beige;
    }

    &.style-03 {
        background-color: $color__mossgreen;
    }

    &.col-01 {
        .button {
            width: 50%;
        }
    }

    &.col-02, 
    &.col-03, 
    &.col-04 {
        display: none;
    }

    @include mq($mq670){
        &.col-02 {
            display: block;
            grid-column-start: span 2;

            .button {
                width: calc(50% / 2);
            }
        }
	}

	@include mq($mq850) {
        &.col-03 {
            display: block;
            grid-column-start: span 3;

            .button {
                width: calc(50% / 3);
            }
        }
	}

    @include mq($mq1024) {
        &.col-04 {
            display: block;
            grid-column-start: span 4;

            .button {
                width: calc(50% / 4);
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        z-index: 99;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;

        .text {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate( -50%, -50% );
            text-align: center;
            overflow: hidden;
            padding: 20px;
        }

        .button {
            display: block;
            position: absolute;
            bottom: 0;
            width: 140px;
            left: 50%;
            transform: translateX( -50% );
            margin-bottom: emRhythm();
            padding: emRhythm(1) 0;
            text-align: center;
            font-size: 0.9em;
            @include serif-heading;
            color: $color__background-body;
            background-color: $color__darkgray;
            cursor: pointer;
    
            #{$link-hover-selector} {
                color: $color__bodyfont;
                background-color: $color__coolgray;
            }
        }
    }
}