/**
 * Products
 */

ul.products {
	display: none;
}

.product-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: emRhythm(1);
	grid-row-gap: emRhythm();

	@include mq($mq670){
		grid-template-columns: repeat(2, 1fr);
	}

	@include mq($mq850) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include mq($mq1024) {
		grid-template-columns: repeat(4, 1fr);
	}

	li {
		display: block;
		margin: 0;
		list-style: none;

		&.product {
			padding: emRhythm();
		}

		img {
			display: block;
		}

		.button {
			display: block;
		}
	}
}
