.woocommerce-order-received{
    .site-content{
        .entry-content{
            .woocommerce{
                .woocommerce-order{
                    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received{
                        font-size: 1rem;
                        background-color: $color__mossgreen;
                        padding: 0.5em 0.75em;
                        color:#fff;
                        margin-bottom: 2rem;
                    }
                    .woocommerce-thankyou-order-details{
                        list-style: none;
                        margin: 0 0 2rem 0;
                    }
                    .woocommerce-order-details{
                        .woocommerce-table--order-details.shop_table.order_details{
                            border-collapse: collapse;
                           thead{
                                .woocommerce-table__product-name.product-name,
                                .woocommerce-table__product-price.product-price {
                                    text-align: left;
                                }
                                .woocommerce-table__product-table.product-total {
                                    text-align: right;
                                }
                            } 
                            tbody{
                                    &:after{
                                        content: '';
                                        display: table-row;
                                        height: 1rem;  
                                    }
                                    .woocommerce-table__line-item.order_item{
                                        .woocommerce-table__product-name.product-name {
                                            .wc-item-meta{
                                                list-style: none;
                                                margin: 0;
                                                font-size: 0.8rem; 
                                                padding-bottom: 0.3rem;                            
                                            }
                                        }
                                        .woocommerce-table__product-total.product-total {
                                            text-align: right;
                                        } 
                                    }    
                                }
                            tfoot{
                               tr{
                                
                                   &:nth-of-type(4){
                                    border-top: 1px solid $color__text-main;
                                       td{  
                                           font-weight: 700;
                                           padding-top:0.5rem;
                                       }
                                   }
                                   th{
                                       text-align: left;
                                       width: 55%;
                                   }
                                   td{
                                    width: 45%;
                                    text-align: right; 
                                   }
                               } 
                            }
                        }
                    }
                    .woocommerce-customer-details{
                        .woocommerce-columns--addresses.col2-set.addresses{
                            
                            address{
                                font-style: normal;
                                .woocommerce-customer-details--phone,
                                .woocommerce-customer-details--email {
                                    font-size: 1rem;
                                }
                            }

                            @include mq($mq670){
                                display:flex;
                                .woocommerce-column--billing-address.col-1,
                                .woocommerce-column--shipping-address.col-2{
                                    width: 50%;
                                
                                }
                            }
                        }
                        
                    }
                }
        }   }
    }
}   