.woocommerce-order-received{
    .site-content{
        .entry-content{
            .woocommerce{
                .woocommerce-order{
                    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received{
                        font-size: 1rem;
                        background-color: $color__mossgreen;
                        padding: 0.5em 0.75em;
                        color:#fff;
                        margin-bottom: 2rem;
                        white-space: pre-wrap;
                    }
                    //First Order information Summary
                    .woocommerce-thankyou-order-details{
                        list-style: none;
                        margin: 0 0 2rem 0;
                    }
                    //Order details 
                    .woocommerce-order-details{
                        .woocommerce-table--order-details.shop_table.order_details{
                            border-collapse: collapse;
                           thead{
                                .woocommerce-table__product-name.product-name,
                                .woocommerce-table__product-price.product-price {
                                    text-align: left;
                                }
                                .woocommerce-table__product-table.product-total {
                                    text-align: right;
                                }
                            } 
                            tbody{
                                    &:after{
                                        content: '';
                                        display: table-row;
                                        height: 1rem;  
                                    }
                                    tr.woocommerce-table__line-item.order_item{
                                        td{
                                            padding-bottom: 1rem;
                                        }
                                        .woocommerce-table__product-name.product-name {
                                            .wc-item-meta{
                                                list-style: none;
                                                margin: 0;
                                                font-size: 0.8rem; 
                                                padding-bottom: 0.3rem;                            
                                            }

                                            //event-product summary
                                            .wc-booking-summary {
                                                margin: 0.3em 0.5em 0 0;
                                                padding: 0.3rem 0.2rem;
                                                border-radius: 0;
                                                font-size: 0.8rem;
                                                max-width: 15rem;
                                                .wc-booking-summary-number{
                                                    .status-paid{
                                                        border-radius: 0;
                                                        background-color: $color__mossgreen;
                                                    } 
                                                }
                                                ul.wc-booking-summary-list {
                                                    margin: 0.3em 0 0 0; 
                                                    li{
                                                        margin:0;
                                                    }     
                                                }
                                                .wc-booking-summary-actions {
                                                    display:none;
                                                }
                                                @include mq($mq615){
                                                    font-size: 0.85rem;
                                                } 
                                            }
                                        }
                                        .woocommerce-table__product-total.product-total {
                                            text-align: right;
                                        } 
                                    }    
                                }
                            tfoot{
                               tr{
                                
                                   &:nth-of-type(4){
                                    border-top: 1px solid $color__text-main;
                                       td{  
                                           font-weight: 700;
                                           padding-top:0.5rem;
                                       }
                                   }
                                   th{
                                       text-align: left;
                                       width: 55%;
                                   }
                                   td{
                                    width: 45%;
                                    text-align: right; 
                                   }
                               } 
                            }
                        }
                        .shop_table.my_account_orders.woocommerce-MyAccount-subscriptions{
                            tbody{
                                tr{
                                    td.woocommerce-orders-table__cell-subscription-actions{
                                        &:before{
                                            display:none;
                                        }
                                        .woocommerce-button.button.view{
                                            @include btn-style();
                                            background-color: $color__mossgreen;
                                            color: white;
                                            font-family: inherit;
                                            padding: 5px 5px 2px 5px;

                                            #{$link-hover-selector}{
                                                background-color:lighten($color__mossgreen, 10%);
                                                cursor: pointer;
                                            } 
                                        }
                                    }
                                }
                            }
                        }
                    }
                    //Remove subscription-view text
                    p{
                        &:last-of-type:not(.woocommerce-customer-details--email){
                            // display: none;
                        }
                    }
                    

                    //Billing Address & Shipping Address
                    .woocommerce-customer-details{
                        .woocommerce-columns--addresses.col2-set.addresses{
                            .woocommerce-column{
                                address{
                                    font-style: normal;
                                    .woocommerce-customer-details--phone,
                                    .woocommerce-customer-details--email {
                                        font-size: 1rem;
                                    }
                                }
                            }


                            @include mq($mq670){
                                display:flex;
                                .woocommerce-column--billing-address.col-1,
                                .woocommerce-column--shipping-address.col-2{
                                    width: 50%;
                                
                                }
                            }
                        }
                        
                    }
                }
        }   }
    }
}   