.category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        width: 100%;
    }

    .category {
        position: relative;
        width: 300px;
        display: block;

        @include mq($mq1350) {
            width: 400px;
        }

        // Sketch border
        .category-container {  
            margin: 0;
            box-sizing: border-box; 
            background-image: url(images/assets/sketch-border/sketch-border-square.svg);    
            background-repeat: no-repeat;    
            z-index: 1;
            width: 300px;
            height: 300px;
            background-size: cover;

            @include mq($mq1350) {
                width: 400px;
                height: 400px;
            }

            // Category image
            img {
                position: relative;
                z-index: -1;
                max-width: 600px;
                filter: brightness(60%);
                height: 300px;
                width: 300px;
                object-fit: cover;

                @include mq($mq1350) {
                    width: 400px;
                    height: 400px;
                }
            }
        }

        p {
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 0.03em;
            color: white;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            padding: 0;
            width: 300px;

            @include mq($mq1350) {
                font-size: 2em;
                width: 400px;
            }

            &:after {
                content: "";
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 170px;
                height: 17px;
                background: url(images/assets/category/cat-herb-underline.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;

                @include mq($mq1350) {
                    width: 230px;
                    height: 23px;
                }
            }
        }
    }
}