h1, h2, h3, h4, h5, h6 {
    clear: both;
    line-height: $font__line-height-heading;
}

h1, h2 {
    font-family: $font__heading;
    letter-spacing: $font__letter-spacing-heading;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 1.65rem;
}

h2 {
    font-size: 1.4rem;
}

p {
    font-size: 0.85rem;
}