body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-weight: 300;
	@include font-size(1);
	line-height: $font__line-height-body;
}



// Remove list style and text decoration
ul {
	margin: 0;
	padding: 0;

	li {
        a {
            text-decoration: none;
        }
    }

}

// Remove a tag text decoration
a {
	text-decoration: none;
}

// Normalize font style and margin
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}
p {
	font-weight: 300;
	margin: 0;
	padding: 0;
}


@import "headings";

@import "copy";