/*
 * Font Style Mixins
 */
// Set serif heading
@mixin serif-heading(){
	font-family: $font__heading;
	letter-spacing: $font__letter-spacing-heading;
	text-transform: uppercase;
	font-weight: 700;
}

// Set light san-serif heading
@mixin sanserif-heading(){
	font-family: $font__main;
	font-weight: 500;
} 


/*
 * Button Styles Mixins
 */
// Set up Basic button styles
@mixin btn-style() {
	@include serif-heading();

	display: inline-block;
	width: 100%;
	max-width: 140px;
	border: 1px solid $color__mossgreen;
	background-color: #fff;
    text-align: center;
	line-height: 25px;
	padding: 2px 5px;
	letter-spacing: 0.1em;;
	font-size: 0.9em;
}

@mixin woo-btn-style() {
	@include reset-button();
	@include btn-style();
	font-family: $font__heading;
	letter-spacing: $font__letter-spacing-heading;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 80%;
	background-color: #fff;
}

@mixin reset-button() {
    overflow: visible; // Shrinkwrap the text in IE7-
    margin: 0;
    padding: 0;
    border: 0;
    color: $color__bodyfont;
    background: transparent;
    // font: inherit; // Inherit font settings (doesn’t work in IE7-)
    line-height: normal; // Override line-height to avoid spacing issues
    cursor: pointer; 
    -moz-user-select: text; // Make button text selectable in Gecko

    /* Remove mystery padding in Gecko browsers.
     * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
     */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}


/*
 * Media Query
 */
@mixin mq($w) {
    @media (min-width: $w){
        @content;
    }
}

/*
 * Basic Layout settings
 */
// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// centerizing margin-center
@mixin margin-center {
    margin: {
        left: auto;
        right: auto;
    }
} 

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}