/*
 * Basic Banner Styles
 */


// Set Slick Slider relative
.slider {
    position: relative;
}

// Set page title on slick slider
.title-on-banner {
    position: absolute;
    top: 35.5vh;
    left: 50%;
    font-size: 2.5em;
    font-weight: 400;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #9c9c9c;
}

// Set shop page title 
.page-id-14 {
    .title-on-banner-shop {
        position: absolute;
        top: calc(35.5vh + 40px); // add second nav height to centerize
        left: 50%;
        font-size: 2.5em;
        font-weight: 400;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #9c9c9c;
    }
}

/*
 * Basic Banner Styles
 */
// Slick slider banner images
.hero-banner,
.promo-banner {
    img {
        height: 55vh;
        object-fit: cover;
    }
}

// Static banner images
.events-banner,
.careers-banner,
.about-banner {
    img {
        height: 55vh;
        object-fit: cover;
    }
}

.hero-banner-text-box,
.promo-banner-text-box,
.events-banner-text-box,
.about-banner-text-box {
    // height: 300px;
    padding: 30px 40px;

    h3 {
        margin-bottom: 10px;
        font-family: $font__main;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 1.5em;

        @include mq($mq1600) {
            font-size: 2em;
            margin-bottom: 0;
        }
    }

    p {
        font-size: 0.9em;

        @include mq($mq1600) {
            font-size: 1em;
            margin-bottom: 0;
        }

    }

    @include mq($mq670){
        height: 200px;
    }

    @include mq($mq850) {
        padding: 35px 100px;

        h3 {
            grid-area: heading;
            margin-bottom: 10px;
            text-align: right;
        }
        .description {
            grid-area: description;
            margin-bottom: 10px;
            line-height: 1.5;
            
        }
        .cta-banner-btn{
            grid-area: button;
            line-height: 28px;
            height: 45px;
        }

        .promo-btn{
            grid-area: button;
            line-height: 28px;
            height: 45px;
        }

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-template-areas: 
        "heading description"
        ". button"
    }

    @include mq($mq1200) {
        padding: 35px 200px;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 40px;
    }

    @include mq($mq1600) {
        padding: 35px 300px;
    }

    @include mq($mq1920) {
        grid-column-gap: 50px;
        padding: 35px 400px;
    }

}

// Override grid style on about page(no button) 
.about-banner-text-box {

    @include mq($mq1200) {
        grid-template-columns: 1fr 1fr;
    }

}

/* Color, detail settings for each banner */

/*
 * Front page Banner
 */
.hero-banner-text-box,
.events-banner-text-box,
.about-banner-text-box {
    background-color: $color__beige;

    @include mq($mq850) {
        .cta-banner-btn{
            grid-area: button;
            line-height: 28px;
            height: 45px;
        }
    }
}

/*
 * Shop Page Banner
 */
.promo-banner-text-box {
    background-color: $color__coolgray;

    @include mq($mq850) {
        .promo-btn{
            grid-area: button;
            line-height: 28px;
            height: 45px;
        }
    }
}

