/*
 * Basic Banner Styles
 */
.hero-banner,
.promo-banner {
    // margin-bottom: 70px;

    img {
        height: 430px;
        object-fit: cover;
    }


}

.hero-banner-text-box,
.hero-banner-text-box {
    background-color: $color__beige;
    height: 300px;
    padding: 35px 40px;

    @include mq($mq670){

        height: 200px;
     }

    h3 {
        margin-bottom: 10px;
    }
}

.promo-banner-text-box {
    background-color: $color__coolgray;
}

.hero-banner-text-box {
    h3 {
        font-family: $font__main;
        text-transform: capitalize;

        font-weight: 500;
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }
}


/*
 * Promo Banner Styles (shop page)
 */