html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

a {
	color: $color__link;

	#{$link-hover-selector}{ 
		color: $color__link-hover;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}


// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$mq1920:em(1920); //desktoplarge
$mq1600:em(1600); //desktopsmall
$mq1350:em(1350); //bp for about footer navigation
$mq1200:em(1200); //laptop
$mq1095:em(1095); //bp for support footer navigation
$mq1024:em(1024); //tabletLandscape
$mq1000:em(1000);//tabletPortraitLarge
$mq850:em(850);//tabletPortrait
$mq670:em(670);//phoneLandscape
$mq615:em(615);//phoneLandscapeSmall
$mq500:em(500);//phonePortraitLarge
$mq420:em(420);//phonePortrait

@import "lists";
@import "tables";
@import "title";
@import "intro";