.site-footer{
    
    padding: 30px 30px;
    background-color: $color__darkgray;
    color:$color__coolgray;

    .bottom-logo {
        width: 150px;
        @include margin-center;
        padding-bottom: 15px;
    }

    .company-info{
        padding-bottom: 20px;
        ul{
            list-style: none;
            padding:0;
            margin: 0;
            max-width: 200px;

            li{
              font-size: 0.8em;  
              padding-bottom: 5px;
            }

            li:first-child{
                @include serif-heading();
                font-size: 1.17em;
                color:#ffffff;
            }
            
            
        }
    }

    .footer-menus {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .footer-navigation{
            padding-bottom: 20px;
            h3{
                margin:0;
                @include serif-heading();
                color:#ffffff;
            }
            a{
                color:$color__coolgray;

            }
            ul#menu-footer-order_support,
            ul#menu-footer-menu-about{
                font-family: $font__main;
                font-weight: 300;
                text-transform: capitalize;
            }
            
        }

        #footer-navigation1{
            @include mq($mq1095){
                display: grid;
            }
        }
        #footer-navigation2 {
            display: grid;

            @include mq($mq615){
                display: block;
            }

            @include mq($mq1024){
                display: grid;
            }

            
        }
    }

    .footer-nav-wrapper-left {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;

    ul{
            display:flex;
            margin: 0;
            padding: 0;

            li{
                padding-right: 15px;
                
                a {
                    font-size: 0.8em;
                    
                }
            }
        }
        p{
            margin: 0;
        }
    }

    @include mq($mq670){
       
            padding: 40px 95px;
                .footer-mqm-wrapper {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .bottom-logo {
                        margin-right: 0px;
                        margin-left: 0px;
                        justify-self: start;
                        width:180px;
                    }
                }
                
        
    }
    @include mq($mq1024){
        display: grid;
        grid-template-columns: 40% 60%;
     
        .footer-mqm-wrapper {
            grid-gap: 32px;
            padding-right: 50px;

            .bottom-logo {
                width: 150px;
            }
        }

        .company-info {
            padding-bottom: 0px;
        }
        .site-info {
            display: grid;
            grid-template-columns: 1fr 30%;

         .footer-navigation{
             padding-bottom: 0px;
         }
        
            
            h3 {
            align-self: normal;
            }
            .footer-nav-wrapper-left {
                display: block;

            #social-navigation {
                padding-bottom: 20px;
            }
            }
        }
        .menu-footer-menu-about-container {
            margin-top: -15px;
        }
    }
    @include mq($mq1350){
            .menu-footer-menu-about-container {
                margin-top: -25px;
            }
    }
}
.site-footer:before{
    content: none;
    display: none;
    table-layout:unset;
}