.count img,
.account>a img{
    width: 25px;
    height: 25px;
}

.top-banner{
    font-size: 0.6em;
    text-align: center;
    padding: 5px 0px;
    background-color:$color__bodyfont;
    color: #ffffff;
    border-bottom: 5px solid #F4EAD3;
}

.header-mb-wrapper {
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    height: 52px;
    align-items: center;
    padding: 0 10px;

        .top-header{

            .search-icon {
                width: 25px;
                @include mq($mq670){
                    display: none;
                }
            }
        
            .search-bar {
                display: none;
                @include mq($mq670){
                    display: block;
                }
            }
            .site-header-cart {
                list-style: none;
            }

            form.search-form {
                position: relative;

                input.search-submit {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            .icon-wrapper {
                display: none;
                    @include mq($mq670){
                    display: grid;
                    grid-template-columns: 63% 1fr 1fr 1fr;
                    padding: 0 35px;
                    }
                }
            
                
            

            
        }

        .site-branding{
            position: relative;

         img {
                position: absolute;
                z-index: 2;
                top: -26px;
                @include mq($mq670){
                    left: 38vw;
                    width: 160px;
                }
            }
        }
        #site-navigation {
            text-align: right;
            
        }

        

        #category-navigation {
            display: none;
            @include mq($mq670){
                display: block;
            }

        }

     

        @include mq($mq670){
            height: inherit;
            grid-template-columns: 1fr;

            ul#menu-social-menu {
                display: flex;
                li{
                        padding: 0 5px;
                        width: 25px;
                   
                }
            }
            #site-navigation{
                .hm-icon{
                    display: none;
                }
                >.menu-main-menu-container {
                    padding: 0 30px;
                
                    #primary-menu {
                        display: grid;
                        grid-template-columns: 10% 10% 10% 1fr 10% 10%;
                        justify-items: center;

                        #menu-item-229 {
                            justify-self: end;
                        }
                    }
                }
            } 
            .account,
            .count{
                font-size: 0.2em;
               
            }
            
        }



}
