.count img,
.account>a img{
    width: 25px;
    height: 25px;
}

.top-banner{
    font-size: 0.6em;
    text-align: center;
    padding: 5px 0px;
    background-color:$color__bodyfont;
    color: #ffffff;
    border-bottom: 5px solid #F4EAD3;
}

.header-mb-wrapper {
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    height: 52px;
    align-items: center;
    padding: 0 10px;

        .top-header{

            
        
            .search-bar {
              
                .search-icon {
                    width: 25px;
                    @include mq($mq670){
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 19px;
                        padding: 3px 0;
                        
                    }
                }
                form.search-form {
            
                    input.search-submit {
                         display: none;
                    }
                }
                @include mq($mq670){
                    display: block;
                    position: relative;
                }
            }
            .site-header-cart {
                list-style: none;
                justify-self: end;
            }

            
            .icon-wrapper {
                // display: none;
                    @include mq($mq670){
                    display: grid;
                    grid-template-columns: 63% 1fr 5% 5%;
                    padding: 0 35px;
                    }
                }
            
                
            

            
        }

        .site-branding{
            position: relative;
            width:160px;
            margin: 0 auto;

            

         img {
                position: absolute;
                z-index: 2;
                top: -26px;
            }


            @include mq($mq670){
                width: 200px;
            }
        }
        #site-navigation {
            text-align: right;
            
        }

        

        #category-navigation {
            //display: none;
            @include mq($mq670){

              display: block;
              #menu-product-category-menu {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                height: 40px;
                margin-top: 30px;
                align-items: center;
                justify-items: center;
                background-color:#CDD6DB;
              }
            
            }

        }

        ul#menu-social-menu {
            display: none;
            @include mq($mq670){
            display: flex;
            li{
                    padding: 0 5px;
                    width: 25px;
               
            }
            }
        }
     

        @include mq($mq670){
            padding: 0;
            height: inherit;
            grid-template-columns: 1fr;
            max-width: 1250px;
            margin: 0 auto;

            
            #site-navigation{
                .hm-icon{
                 //   display: none;
                }
                >.menu-main-menu-container {
                    padding: 0 30px;
                
                    #primary-menu {
                        display: grid;
                        grid-template-columns: 10% 10% 10% 1fr 10% 10%;
                        justify-items: center;

                        #menu-item-229 {
                            justify-self: end;
                        }
                    }
                }
            } 
            .account,
            .count{
                font-size: 0.2em;
                justify-self: end;
            }
            
            
        }



}
