// Intro section for each page

.home-intro,
.shop_intro{
    padding: 0 60px;

    @include mq($mq615) {
        max-width: 600px;
        margin: 0 auto;
    }

    .home-intro-text,
    .shop-intro-text  {
        text-align: center;

        @include mq($mq615) {
            font-size: 0.95em;
        }
    }
    
}