// Intro section for each page

.home-intro,
.shop_intro{
    padding: 0 30px;

    @include mq($mq370) {
        padding: 0 60px;
    }

    @include mq($mq615) {
        max-width: 700px;
        margin: 0 auto;
    }

    .home-intro-text,
    .shop-intro-text  {
        text-align: center;

        @include mq($mq615) {
            font-size: 0.95em;
        }
    }
    
}

.home-intro{
    padding-top: 2rem;
}