.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;
		z-index: 11;
		background-color: rgba(255, 255, 255, 0.909);
		width: 100%;
		display: none;
		justify-content: center;
		text-align: center;
		padding-top: 7rem;
		padding-bottom: 30px;
		height: 30rem;

		@include mq($mq670){
			padding: 0;
			background-color: rgb(255, 255, 255);
			max-width:1240px;
			margin: 0 auto;
			position: inherit;
			height: 100%;
		}

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		padding: 10px 0;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */


.menu-toggle{
	// display: block;
}
button.menu-toggle-open {
	#hm-icon,
	#hm-icon-close {
		width: 30px;
		height: 30px;

		#{$link-hover-selector}{
			cursor: pointer;
		}
	}
	
    position: absolute;
    right: 0;
	top: -47px;
	 @include mq($mq670){
		 display:none;
	 }
}
#hm-icon-close{
	display: none;

}
.main-navigation{
	.search-bar{
		display: none;

		@include mq ($mq670){
			display: block;
		}
	}
}
.main-navigation.toggled{
	.search-bar{
		display: block;
	}
}
.main-navigation.toggled ul {
	display: grid;
	align-items: center;
}
.main-navigation.toggled .menu-toggle-open img#hm-icon{
	display:none;
}


.main-navigation.toggled .menu-toggle-open img#hm-icon-close{
	display: grid;
	z-index: 9;
	
}

@media screen and (min-width: 37.5em) {

	.main-navigation ul {
		display: none;
		width: 100%;
	
	}
	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
