.page-id-103{
    .about-history{
        padding: 3em 0em 5em;
        .history-box{
            padding-bottom: 6.5rem;
            position: relative;
            .history-image {
                height: 12rem;
                img{
                    height: 100%;
                }
            }
            .history-text{
                background-color: $color__coolgray;
                padding: 1em;
                h3{
                    font-family: $font__heading;
                    padding-left: 0.7em;
                    span{
                        color:white;
                        padding: 0 .2em;
                    }
                }
                p{
                    margin: 0;
                    padding: 1em 0;
                }
            }
            .history-bt-top{
                width: 12em;
                height: 15em;
                background: url(images/assets/botanic-doodle/doodle-about-top.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                bottom: -4.5em;
                right: .5em;
                z-index: -1;
            }
            .history-bt-bottom{
                width: 14em;
                height: 14em;
                background: url(images/assets/botanic-doodle/doodle-about-bottom.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                bottom: -3em;
                left: 0;
                z-index: -1;
            }
        }
        .history-past{
            padding-top: 2em;
        }

        @include mq($mq370){
            .history-box{
                .history-image {
                    height: 15rem;
                }
            }
        }
        @include mq($mq420){
            .history-box{
                .history-image {
                    min-height: 17rem;
                }
            }
        }
        @include mq($mq500){
            .history-box{
                .history-image {
                    min-height: 20rem;
                }
            }
        }

        @include mq($mq550){
            .history-box{
                .history-image {
                    min-height: 23rem;
                }
            }
        }

        @include mq($mq615){
            .history-box{
                .history-image {
                    min-height: 25rem;
                }
            }
        }

        @include mq ($mq670){
            padding-bottom: 3rem;
            .history-box{
                max-height: 30em;
                .history-image {
                    min-height: 24rem;
                    img{
                        width: 35rem;
                    }
                }
                .history-text {
                    max-width: 20rem;
                    padding: 1.5rem;
                    p{
                    font-size: 0.75rem;
                    line-height: 1.5;
                    }
                }
            }
            .history-past{
                position: relative;
                .history-text{
                    position: absolute;
                    right: 0;
                    bottom: 2.5em;
                }
                .history-bt-top{
                    left: 33%;
                    bottom: -7em;
                }
            }
            .history-future{
                .history-text{
                    transform: translate3d(0vw, -21em, 0em);
                }
                .history-image{
                    transform: translate3d(0vw, 5em, 0em);
                }
                .history-bt-bottom{
                    bottom: -4rem;
                }
            }
        }

        @include mq($mq800){
            .history-box{
                .history-image {
                    img{
                        width: 40rem;
                    }
                }
            }
        }

        @include mq($mq850){
            padding-bottom: 7rem;
            .history-box{
                .history-image {
                    min-height: 25rem;
                }

                .history-text {
                    min-width: 25rem;
                
                    p{
                    font-size: 0.85rem;
                    
                    }
                }   
            }
            .history-past{
                .history-text{
                    bottom: 2rem;
                }
                .history-bt-top{
                    bottom: -9em;
                    left:40%;
                }
            }
            .history-future{
                .history-image{
                    transform: translate3d(0vw, 6em, 0em);
                }
            }
            
        }

        @include mq ($mq900){
            padding-bottom: 12rem;
            .history-box{
                .history-image {
                    min-height: 27rem;
                    img{
                        width: 45rem;
                    }
                }

                .history-text {
                    min-width: 30rem;
                
                    p{
                    font-size: 0.85rem;
                    }
                }
            }
            .history-past{
                .history-text{
                    bottom: 0;
                }
            }
            .history-future{
                .history-image{
                    transform: translate3d(0vw, 8em, 0em);
                }

            }
        }
        @include mq ($mq1024){
            .history-box{
                
                .history-image {
                    height: 28rem;
                }
               
            }
            .history-past{
                .history-text{
                    bottom: -2rem;
                }
                .history-bt-top{
                    bottom: -12em;
                    left:40%;
                }
            }
            .history-future{
                .history-image{
                    transform: translate3d(0vw, 9em, 0em);
                }
                .history-bt-bottom{
                    bottom: -6rem;
                    left: 5%;
                }
            }
        }
        @include mq ($mq1200){
            padding-bottom: 15rem;
            .history-box{
                .history-image {
                    height: 28rem;
                    img{
                        width: 48rem;
                    }
                }
                .history-text {
                    max-width: 35rem;
                    bottom: -3rem;
                }
            }
            .history-past{
                .history-bt-top{
                    bottom: -12em;
                }
            }
            .history-future{
                .history-image{
                    transform: translate3d(0vw, 10em, 0em);
                }
                .history-bt-bottom{
                    bottom: -4rem;
                    left: 11%;
                }
            }
        }
        @include mq ($mq1350){
            
            .history-future{
                .history-image{
                    transform: translate3d(0vw, 10em, 0em);
                }
            }
        }
    }

    .awards{
        padding-bottom: 2rem;

        @include mq ($mq1024){
            padding-bottom: 5rem; 
        }
    }
    
    .supporters{
        .sb_instagram_header.sbi_no_avatar {
            display: none;
        }
        @include mq ($mq670){
            div#sbi_images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            #sb_instagram.sbi_col_6 #sbi_images .sbi_item {
                width: inherit;
            }
        }
    }
}