.page-id-190 {

    .career-intro-text{
        text-align: center;
        padding: 2rem 5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    h3 {
        color: $color__cat_herb;
    }
    
    .summary {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
}