
.events-archive{

    .events-second-text-box{
        margin: 80px 25px;
        text-align: center;

        .title{
            padding: 0 40px;
        }

        p{
            &:before{
                content: "";
                margin: 0 auto;
                position: relative;
                display: block;
                width: 230px;
                height: 80px;
                background: url(images/assets/botanic-border/botanic-border-shop.svg);
                background-repeat: repeat-x;
                background-position: center;
            }

            max-width: 550px;
            text-align: center;
            margin: 0 auto;
        }

        @include mq(900px){
            margin-bottom: 115px;
        }
    }

    .events-third-text-box{
        margin: 35px;
        text-align: center;

        .title{
            font-size: 1.3rem;
            &:after{
                content: "";
                margin: 10px auto;
                position: relative;
                display: block;
                width: 30px;
                height: 20px;
                background: url(images/assets/botanic-icon/botanic-icon-main.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }
        }
    }
    
    .events-list{

        .events-headers{
            display: none;

            @include mq(900px){
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 50px;
                //grid-row-gap: 20px;
                grid-template-areas: 
                "c1 c2 c3";
                .col2{ grid-area: c2; }
                .col3{ grid-area: c3; }

                h2{
                    margin: 0;
                    font-size: 1.1rem;
                    color: $color__cat_herb;
                }

                h2:after{
                    content: "";
                    margin: 5px 0 0 0;
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 17px;
                    background: url(images/assets/botanic-border/botanic-border-shop.svg);
                    background-repeat: repeat-x;
                    background-position: center;
                }
            }
        }
        
        .future-single-event.single-event, 
        .past-single-event.single-event{

            margin: 70px 0;

            .event-image{
                img{
                    width: 100vw;
                    height: 250px;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }

            .second-column{
                margin: 25px;

                .event-tags{
                    color: $color__cat_herb;
                    margin-bottom: 15px;
                }
                
                .event-title-price {
                    margin-bottom: 15px;
                    p{
                        font-family: $font__main;
                        font-size: 1.17em;
                        margin: 10px 0 0 0;
                    }
                }

            }

            .event-date-time{
                margin: 25px;
                p{
                    margin: 5px 0 0 0;
                }
            }

            @include mq(500px){

                a.each-event{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 30px;
                    grid-template-areas: 
                    "image title"
                    "image details";

                    .event-image{ grid-area: image; 
                        align-self: center;}
                    .second-column{ grid-area: title; 
                        align-self: center;}
                    .event-date-time{ grid-area: details; 
                        align-self: center;}

                    @include mq(900px){

                        max-width: 850px;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-column-gap: 50px;
                        grid-template-areas: 
                        "image title details";
                        .event-image{ grid-area: image; 
                            align-self: center;}
                        .second-column{ grid-area: title; 
                            align-self: center;}
                        .event-date-time{ grid-area: details; 
                            align-self: center;}

                    }
                }
                margin: 0 0 70px 0;

                .event-image{
                    img{
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                        object-position: 50% 50%;                        
                    }
                }

                .second-column{
                    margin: 0;
                }

                .event-date-time{
                    margin: 0;
                    p{
                        font-size: 1rem;
                        margin: 10px 0 0 0;
                    }
                }
            }

        }

        button.see-past-events{
            display: block;
            margin: 0 auto 80px auto;
            width: 65%;
            max-width: 500px;
            background-color: $color__cat_herb;
            background-image: url(images/assets/events/past-events-icon.svg);
            background-repeat: no-repeat;
            background-size: 20px;
            padding: 10px 0 10px 25px;
            background-position: 15% 50%;
            color: white;
        }

        #past-events{
            display: none;
        }

        

        @include mq(500px){
            
            margin: 0 auto;
            max-width: 550px;

            @include mq(900px){
                max-width: 850px;
            }
        }
        
    }
}