.blog {
    header.title{
        padding-top: emRhythm();
    }
    
    .filter-group {
        display: flex;
        justify-content: center;

        .filter-option {
            padding: emRhythm();
        }
    }

    .grid {
        .blog-post {
            width: map-get($columns, 1);
            padding: emRhythm() emRhythm();

            @include mq($mq850) {
                width: map-get($columns, 2);
            }

            @include mq($mq1024) {
                width: map-get($columns, 3);
            }

            img {
                width: 100%;
            }

            h2.title {
                font-family: $font__main;
                text-transform: none;
            }

            .meta-info {
                padding: emRhythm(1, $ms-down1) 0;

                & * {
                    display: block;
                    color: $color__cat_herb;
                }
            }

            .entry-content {
                margin: 0;

                .read-more {
                    display: block;
                    color: $color__text-input;

                    #{$link-hover-selector} {
                        color: $color__text-input-focus;
                    }
                }                
            }


        }
    }
}