.blog {
    main {
        padding: emRhythm() 0;
    }
    
    .filters {
        padding: emRhythm();

        li {
            list-style-type: none;
        }

        .filter-group {
            display: flex;
            justify-content: center;
            
            .filter-option {
                padding: 0 emRhythm();
            }
        }

        .recipes-filters {
            display: none;

            &.show {
                display: flex;
                justify-content: center;
            }

            .filter-group {
                margin: 0 emRhythm();
            }

            .filter-category {
                padding: 0 emRhythm(1);
            }

            .filter-option {
                padding: 0 emRhythm(1);
            }
        }
    }


    .blog-feed {
        .blog-post {
            width: map-get($columns, 1);
            padding: emRhythm();

            @include mq($mq850) {
                width: map-get($columns, 2);
            }

            @include mq($mq1024) {
                width: map-get($columns, 3);
            }

            img {
                width: 100%;
            }

            h2.title {
                font-family: $font__main;
                text-transform: none;
            }

            .meta-info {
                padding: emRhythm(1) 0;

                & * {
                    display: block;
                    color: $color__cat_herb;
                }
            }

            .entry-content {
                margin: 0;

                .read-more {
                    display: block;
                    color: $color__text-input;

                    #{$link-hover-selector} {
                        color: $color__text-input-focus;
                    }
                }                
            }
        }
    }

    .load-more {
        display: block;
        margin: 0 auto;
    }
}