.blog,
.archive.category {
    $blog-post-width-mobile: map-get($columns, 1);
    $blog-post-width-tablet: map-get($columns, 2);
    $blog-post-width-desktop: map-get($columns, 3);
    $blog-post-width-desktop-large: map-get($columns, 4);
    $blog-post-padding: emRhythm();

    $load-more-width-mobile: calc(#{$blog-post-width-mobile} - (2 * #{$blog-post-padding}));
    $load-more-width-tablet: calc(#{$blog-post-width-tablet} - (2 * #{$blog-post-padding}));
    $load-more-width-desktop: calc(#{$blog-post-width-desktop} - (2 * #{$blog-post-padding}));


    main {
        padding: emRhythm() 0;
    }

    // .wrapper {
    //     // max-width: 1500px;
    // }
    
    .filters {
        padding: emRhythm();
        

        ul {
            margin: 0;

            li {
                list-style-type: none;
            }
        }


        .filter-group {
            display: flex;
            // justify-content: center;
            justify-content: space-evenly;
            max-width: 500px;
            margin: 0 auto;
        }

        // .filter-option {
        //     padding: emRhythm(1) emRhythm();
        //     white-space: nowrap;

        //     #{$link-hover-selector} {
        //         background-color: $color__coolgray;
        //     }
        // }

        .recipes-filters {
            display: none;

            &.show {
                display: block;
                @include mq($mq850) {
                    display: flex;
                    justify-content: center;
                }
            }

            .filter-group {
                margin: 0 emRhythm();
            }

            .filter-category {
                padding: emRhythm(1);
            }

            .filter-option {
                padding: emRhythm(1);
            }
        }
    }


    .blog-feed {
        .blog-post {
            width: $blog-post-width-mobile;
            padding: 10px;
            margin-bottom: 20px;
            // transition: all 0.5s ease;

            article {
                border: solid 1px $color__coolgray;

                img {
                    width: 100%;
                    max-width: 750px;
                    height: 300px;
                    object-fit: cover;
                }

                .entry-header {
                    padding: 0.5em;

                    h2.title {
                        font-family: $font__heading;
                        font-weight: 400;
                        letter-spacing: 0;
                        text-align: center;
                        color: $color__text-main;

                            @include mq($mq1350) {
                                font-size: 1.4rem;
                            }
                    }

                    .meta-info {
                        padding: emRhythm(1) 0;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        width: 100%;
                        
                        
                        & * {
                            display: block;
                            color: $color__cat_border;
                            font-weight: 400;
                        }
                    }
                }


                .entry-content {
                    margin: 0;
                    color: $color__text-main;
                    padding: 0 1rem 1rem;
                    font-size: 0.95rem;

                    .read-more {
                        color: $color__mossgreen;
                        text-decoration: underline;

                        #{$link-hover-selector} {
                            color: $color__text-input-focus;
                        }
                    }                
                }



            }

            @include mq($mq850) {
                width: $blog-post-width-tablet;
            }

            @include mq($mq1024) {
                width: $blog-post-width-desktop;
            }

            @include mq($mq1600) {
                width: $blog-post-width-desktop-large;
            }

            #{$link-hover-selector} {
                background-color: $color__coolgray;
            }


        }
    }

    .load-more {
        @include serif-heading;
        display: block;
        margin: 0 auto;
        padding: emRhythm(3) 0;
        width: $load-more-width-mobile;
        font-size: 1em;
        color: $color__background-body;
        background-color: $color__darkgray;
        border: emCalc(1) solid;
        border-color: $color__border-button;
        cursor: pointer;

        @include mq($mq850) {
            width: $load-more-width-tablet;
        }

        @include mq($mq1024) {
            width: $load-more-width-desktop;
        }

        #{$link-hover-selector} {
            color: $color__bodyfont;
            background-color: $color__coolgray;
            border-color: $color__border-button-focus;
        }

    }
}