.privacy-policy{
    .site-content{
        .entry-header {
            padding-top: 3rem;
        }
        .entry-content{
            h3{
                padding-bottom: 0.5rem;
            }
            p {
                padding-bottom: 1.5em;
            }
            .wp-block-group__inner-container{
                ul{
                    margin-left: 1.2em;
                    li{
                        font-size:0.85rem;
                        @include mq($mq1350){
                            font-size:1rem;  
                        }
                    }
                }
            }
        }
        footer.entry-footer {
            display: none;
        }
    }
}