.postid-185 {

    .product {
        .woocommerce-variation-price {
            .price {
                display: none;
            }

            .product-option-price.subscription-option {
                display: none;
            }
            
            .product-option-price {
                .price {
                    display: block;

                }
            }
        }
    }
}