.page-id-244{
  .site-content{
    .entry-header {
        padding-top: 3rem;
    }
    .entry-content{
        h3{
            padding-bottom: 0.5rem;
        }
        p {
            padding-bottom: 1.5em;
        }
    }
  }   
}