.single-product {
    main {
        max-width: em(1400);
    }

    .product {
        @include mq($mq850) {
            display: grid;
            grid-template-columns: 50% 1fr;
            column-gap: emRhythm();
            row-gap: emRhythm();
        }
    }

    .entry-summary {
        margin: 0;
    }

    .after-product-summary {
        @include mq($mq850) {
            grid-column-start: span 2;
        }
    }

    .woocommerce-product-gallery {
        .woocommerce-product-gallery__trigger {
            display: none;
        }

        ol {
            display: flex;
            list-style: none;   
        }
    }

    .variations {
        td.label {
            display: none;
        }

        td.value {
            @include mq($mq850) {
                display: flex;
            }

            div {
                width: 60%;
                margin-bottom: emRhythm(1);

                @include mq($mq850) {
                    width: 100%;
                    flex: 1;
                    margin-right: emRhythm(1);
                    margin-bottom: 0;
                }

                input[type=radio]{
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                label {
                    display: block;
                    @include serif-heading;
                    padding: emRhythm(1);
                    text-align: center;
                    border: emCalc(1) solid $color__mossgreen;
                    cursor: pointer;

                    #{$link-hover-selector}{
                        background-color: $color__mossgreen;
                        color: #fff;
                    }
                }

                & input[type=radio]:checked+label {
                    background-color: $color__mossgreen;
                    color: #fff;
                }
            }
        }
    }

    .quantity {
        display: inline-block;
        margin-bottom: emRhythm();
    }

    .single_add_to_cart_button {
        @include serif-heading;
        padding: emRhythm(3) emRhythm(4);
        width: 100%;
        background-color: $color__mossgreen;
        text-align: center;
        font-size: 1em;
        color: #fff;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }

    .woocommerce-tabs.wc-tabs-wrapper {
        .tabs {
            display: flex;
        }

        li {
            margin-right: emRhythm();

            &.active a {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        a {
            padding-bottom: 0;
            border-bottom: emCalc(1) solid $color__bodyfont;
            @include serif-heading;

            #{$link-hover-selector} {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        .woocommerce-Tabs-panel--description.panel,
        .woocommerce-Tabs-panel--additional_information {
            h2 {
                display: none;
            }

            .woocommerce-product-attributes-item__value {
                p {
                    display: block;
                    margin: 0;
                }
            }
        }
    }
}