.wrapper.event-wrapper{

	padding: 0;
	max-width: 100%;

	main.site-main{
		padding-top: 60px;
		position: relative;

		nav.woocommerce-breadcrumb {
			text-align: center;
		}
		.product.product_cat-events{
			// Removing the magnifier icon
			.product-summary .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images .woocommerce-product-gallery__trigger{
				display: none;
			}

			.woocommerce-product-gallery__image {
				padding-top: 70%;
				overflow: hidden;
				width: 100%;
				position: relative;

				img.wp-post-image {
					object-fit: cover;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}
			}

			.event-type{
				margin:calc(0.8rem + 10px);
				color:$color__cat_herb;
				font-size: 1rem;
			}
			.product_title.entry-title{
				font-size: 1.6rem;
				margin:calc(0.8rem + 10px);

				&:after{
					content: "";
					position: relative;
					display: block;
					width: 100%;
					height: 20px;
					margin: 0.5rem 0;
					background: url(images/assets/botanic-border/botanic-border-shop-sinlge.svg);
					background-repeat: repeat-x;
					background-position: center;
					background-size: contain;
				}
			}

			p.price{
				font-size: 1.3rem;
				margin:calc(0.8rem + 10px);
			}

			.event-details{

				margin: 40px calc(0.8rem + 10px);
				.details{
					display: flex;
					align-items: center;
					margin: 20px 0;

					.icon{
						flex-basis: 30px;
						flex-grow: 0;
						flex-shrink: 0;
						margin-right: 10px;

					}

					.icon.time{
						padding: 3px;
					}
				}
			}

			.description-title{
				display: none;
			}

			.event-description{
				margin: 40px calc(0.8rem + 10px);
			}

			.event-map{
				position: relative;
				margin: 40px auto;
				padding: 0 calc(0.8rem + 10px);
				max-width: 480px;

				.acf-map-border{

					max-height: 300px;
					overflow: hidden;

					.acf-map {
						position: absolute;
						top: 0;
						left: 0;
						padding-top: 100%;
						width: 100%;

						// To keep the marker in center
						.gm-style{
							max-height: 300px;
						}
					}
				}

				.gmnoprint {
					display: none;
				}

			}

			.button-events-list{ 
				padding-bottom: 471px;
				margin: 60px calc(0.8rem + 10px) 0 calc(0.8rem + 10px);
				text-align: center;
				button{
					border-radius: 0;
					width: 250px;
					max-width: inherit;
					height: 3rem;
					background-color: $color__cat_herb;
					padding: 0;

					a{
						display: block;
						width: 100%;
						color: white;
						height: 100%;
						line-height: 3rem;
					}
				}
			}

			form.cart{
				position: absolute;
				bottom: 0;
				background-color: $color__coolgray;
				color: $color__coolgray;
				width: 100%;
				z-index: 3;
				margin-block-end: 0 ;
				text-align: center;
				//height: 411px;
				
				label{
					font-size: 1rem;
					color: black;
				}

				.label{
					display: none;
				}

				fieldset{
					border: none;
				}

				button {
					@include woo-btn-style();
					height: 50px;
					margin: auto auto 30px;
					border-radius: 0;
				}
				
				// form.cart
				@include mq(750px){
					text-align: initial;
    				display: flex;
					justify-content: space-between;
					height: auto;

					button{
						align-self: flex-start;
						//margin: 35px auto 0 20px;
						margin: auto;
						height: 80px;

					}
				}
			
				.wc-bookings-booking-form{
					border:none;
					padding: 15px 0;
					max-width: 271px;
    				margin: auto;
					
					p.form-field.form-field-wide{
						margin-block-start: 0;
						margin-block-end: 0;
						margin: 20px auto 0 auto;
						display: flex;
						flex-wrap: wrap;
					}

					p:first-child {
						&:before{
							flex-basis: 100%;
							flex-grow: 0;
							flex-shrink: 0;
							content: "How Many People?";
							position: relative;
							display: inline-block;
							color: black;
							width: 100%;
							background: url(images/assets/events/numbers_1.svg);
							background-repeat: no-repeat;
							background-position: left;
							background-size: contain;
							height: 28px;
							line-height: 28px;
							font-size: 17px;
							margin-bottom: 20px;
						}

						input[name="wc_bookings_field_persons"]{
							margin: 0px auto;
						}

						label[for='wc_bookings_field_persons'] {
							display: none;
						}
					}
					

					input{
						margin-left: auto;
						width: 79px;
						border-radius: 0;
					}

					fieldset.wc-bookings-date-picker.wc-bookings-date-picker-booking.wc_bookings_field_start_date{

						line-height: 1em;
						margin: 0;
						label{
							width: 79px;
						}

						.wc-bookings-date-picker-date-fields {

							&:before{
								content: "Select the Date:";
								position: relative;
								display: inline-block;
								width: 184px;
								text-align: right;
								background: url(images/assets/events/numbers_2.svg);
								background-repeat: no-repeat;
								background-position: left;
								background-size: contain;
								height: 28px;
								// This line-hight is for vertically align the content 
								line-height: 28px;
								font-size: 17px;
								margin: 5px 40px 20px 0;
								color: black;
							}

							margin-top: 10px;
							color: white;
							span{
								color: black;
								text-align: center;
							}
						}
						
					}

					input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"]{
						border: 1px solid #5d6850;
						text-align: center;
						border-radius: 0;
						height: 36px;
					}

					.wc-bookings-date-picker.wc-bookings-date-picker-booking.wc_bookings_field_start_date{
						padding: 0;
					}

					// successful
					.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next{
						background: none;
						width: 7em;
					}

					// successful
					.wc-bookings-date-picker .ui-widget-header{
						background: none;
						border: none;
						color: black;
						font-family: vollcorn;
					}

					// successful
					.wc-bookings-date-picker .ui-datepicker th{
						background: none;
						background-color: $color__beige;
					}
					
					// successful
					.wc-bookings-date-picker .ui-widget-content{
						background: none;
						background-color: transparent;
						font-size: 1rem;
						box-shadow: none;
					}

					// successful
					/* Month header background color */
					.wc-bookings-date-picker .ui-datepicker-header {
						.ui-datepicker-title{
							line-height: 1rem;
						}
						background-color: $color__coolgray;
						background-image: none;
					}

					.ui-datepicker-prev {
						width: 5em;

						span {
							background-image: url(images/assets/events/event-calendar-arrows-prev.svg) !important;
							background-position: 0px 0px !important;
						}
					}
					.ui-datepicker-next{ 
						width: 5em;

						span {
							background-image: url(images/assets/events/event-calendar-arrows-next.svg) !important;
							background-position: 0px 0px !important;
							width: 5em;
						}
					}

					// /* Previous/Next month arrows if not allowed, and calendar dates that are not available */
					// .ui-state-disabled, 
					// .ui-widget-content .ui-state-disabled, 
					// .ui-widget-header .ui-state-disabled {
					// 	opacity: 0.35;
					// 	background: none;
					// 	background-color: transparent;
					// }

					// Header change successful
					/* Days of the week header font color */
					.wc-bookings-date-picker .ui-datepicker th {
						color: #5E6850;
						font-weight: bold;
						font-family: $font__heading;
					}

					// /* Past calendar days background color (not available) */
					// .ui-datepicker-calendar tbody {
					// 	background-color: transparent !important;
					// }

					// successful
					.wc-bookings-date-picker .ui-datepicker td.not_bookable{
						background-color: transparent !important;
					}


					.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default {
						background: $color__beige ;
						color:$color__mossgreen ;
					}

					.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a, td.ui-datepicker-current-day .ui-state-default {
						background: #9E5E07 !important;
						color: white !important;
						opacity: 1 !important;
					}

					.wc-bookings-date-picker .ui-datepicker td.partial_booked a {
						background-color: $color__mossgreen !important;
						background-image: none !important;
						border-color: rgba(0,0,0,0.1) !important;
						color: #fff !important;
						text-shadow: none;
						position: relative;
						z-index: 1;
					}

					/* Available calendar days background color */
					.wc-bookings-date-picker .ui-datepicker td.bookable a{
						background-color: $color__beige !important;
						color:$color__mossgreen !important;
					}

					/* Available calendar day hover background color */
					.wc-bookings-date-picker .ui-datepicker td.bookable a:hover {
						background-color: $color__mossgreen !important;
						color:black !important;
					}

					// Table border lines succesful
					.wc-bookings-date-picker .ui-datepicker td{
						border-color:$color__mossgreen;
					}

					.wc-bookings-booking-cost {
						background: none !important;
						border-top: none !important;
						color: #36474F !important;
					}

					@include mq(750px){
						max-width: 500px;
						width: 70%;
						margin: initial;
						margin-left: auto;

						.wc-bookings-booking-cost{

							padding: 0;
							margin: 0;

								&:before{
									content: "";
									position: relative;
									display: inline-block;
									width: 28px;
									background: url(images/assets/events/numbers_3.svg);
									background-repeat: no-repeat;
									background-position: left;
									background-size: contain;
									height: 32px;
									vertical-align: middle;
									// This line-hight is for vertically align the content 
									line-height: 28px;
									font-size: 17px;
									margin: -5px 21px 0 0;
									color: black;
								}
						}

						p.form-field.form-field-wide{
							flex-wrap: nowrap;
							flex-direction: row;
							align-items: center;
						}

						p:first-child:before{
							flex-basis: initial;
							flex-grow: initial;
							flex-shrink: initial;
							width: 210px;
							text-align: right;
							margin-right: 20px;
							margin-bottom: 0;
							align-self: center;
						}

						p.form-field.form-field-wide:not(:first-child){
							flex-basis: initial;
							flex-grow: initial;
							flex-shrink: initial;
							margin-left: 230px;
						}

						p:first-child input[name='wc_bookings_field_persons']{
							margin: 0;
						}

					}
						
				} // end of wc-bookings-booking-form
			} // end of form.cart

			.summary.entry-summary{
				.product-summary{
				
					@include mq(750px){
					
						figure.woocommerce-product-gallery__wrapper{
							margin:0;
						}
						.event-type{
							grid-area: type;
							margin: 0;
						}
						.product_title.entry-title{ 
							grid-area: heading;
							margin: 0;
							&:after{
								margin: 1rem 0;
								width: 50%;
							}
						}
						.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images { 
							grid-area: img;
						}
						p.price{ 
							grid-area: detail;
							margin: 0;
							align-self: start; 
						}
						.event-details{ 
							grid-area: detail;
							margin: 0; 
							align-self: center;
						}
						.description-title{
							grid-area: description-title;
							display: block;
							text-decoration:underline ;
							color: $color__mossgreen;
							font-size: 1rem;
							margin: 25px 0 10px 0;
						}
						.event-description{ 
							grid-area: description;
							margin: 0;
						}
						.event-map{ 
							grid-area: map; 
							padding: 0;
							margin: 0;
						}
						.button-events-list{
							grid-area: button;
							margin: 40px 0 0 0;
							padding-bottom: 271px;
						}

						display: grid;
						grid-template-columns: 0px 2fr 2fr 0px;
						column-gap: 40px;
						row-gap: 20px;
						grid-template-areas:
						". type .  ." 
						". heading .  ."
						". img detail ."
						". description-title .  ."
						". description map ."
						". button button .";


						@include mq(900px){
							grid-template-columns: 1fr 4fr 3.5fr 1fr;

							@include mq(1100px){
								grid-template-columns: 1fr 3fr 2.7fr 1fr;

								@include mq(1250px){
									grid-template-columns: 1fr 2fr 1.8fr 1fr;
								}
							}
						}

					}
				}
			}

		} // end of .product.product_cat-events
	}
}