.single {
    main {
        margin: 0 auto;
        padding: emRhythm();
        max-width: emCalc(1000);
    }

    header {
        text-align: center;

        h1 {
            @include serif-heading;
        }
    }

    .recipe {
        .overview {
            padding: emRhythm(1, $ms-down1) emRhythm();
            background-color: $color__background-ins;

            @include mq($mq850){
                display: flex;
            }
            
            .text {
                @include mq($mq850) {
                    padding-left: emRhythm(1, $ms-down1);
                }

                .summary {
                    span {
                        display: block;
                    }

                    h3 {
                        display: inline;
                        font-size: 1em;
                        font-weight: bold;
                    }            
                }

                .description {
                    padding-top: emRhythm();
                }
            }
        }

        .ingredients {
            padding-top: emRhythm();
        }    
    }


}