/**
 * Single product page styling
 * effective except event
*/

.product_cat_oils-vinegars,
.product_cat_herbs-spices,
.product_cat_health-beauty {

    main {
        max-width: em(1400);
        padding: 60px 10px 10px;

        @include mq($mq850) {
            padding-top: 30px;
        }

        .woocommerce-breadcrumb {
            text-align: center;

            @include mq($mq850){
                text-align: left;
                position: relative;
                left: calc(50% + 50px);
                font-size: 0.9rem;
            }
        }

        .woocommerce-notices-wrapper {
            .woocommerce-message {
                a {
                    font-weight: 500;
                    
                }
            }
        }
        
    .product {
        .onsale {
            display: none;
        }
        @include mq($mq850) {
            display: grid;
            grid-template-columns: 50% 1fr;
            column-gap: 50px;
            row-gap: emRhythm();
        }

        .entry-summary {
            margin: 0;

            .product_title {
                font-size: 1.8rem;
                padding-top: 20px;
                @include mq($mq850) {
                    font-size: 2.2rem;
                }

                // botanic pattern
                &:after {
                    content: "";
                    position: relative;
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                    height: 20px;
                    margin: 0.5rem 0;
                    background: url(images/assets/botanic-border/botanic-border-shop-sinlge.svg);
                    background-repeat: repeat-x;
                    background-position: center;
                    background-size: contain;
                    @include mq($mq850) {
                        margin: 0;
                        width: 200px;
                        height: 30px;
                        margin: 1.5rem 0;
                    }
                }
            }

            // Product Price (regular and sale)
            .price, del, ins {
                font-size: 1.3rem;
                @include mq($mq850) {
                    font-size: 1.5rem;
                }

                .woocommerce-Price-currencySymbol {
                    padding-right: 2px;
                }
            }

            
            .wc-pao-addon-wrap {
                // Checkbox
                &:first-child {
                    margin-top: 1.5rem;
                }

                // Other rows
                &:not(first-child) {
                    margin-top: 0.5rem;
                }
            }

            // Size variation table
            .variations {
                margin-top: 1.5rem;
            }
          
            // General styling for add-on container
            form {
                .wc-pao-addon-container {

                    .form-row {
                        font-size: 102%;
                    }

                    .wc-pao-addon-name {
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $color__cat_border;
                        letter-spacing: 0.03em;

                        .wc-pao-addon-image-swatch-price {
                            &:before {
                                content: "* ";
                                color: $color__mossgreen;
                            }

                            &:after {
                                content: "*";
                                color: $color__mossgreen;
                            }
                        }
                    }
                }

                // Color selection
                .wc-pao-addon-image-swatch {
                    outline: none;
                    clip-path: circle(40%);
                }

                // Custom Text
                .wc-pao-addon-custom-text {
                    input[type="text"] { 
                        width: 100%;
                    }
                }

                // Custom Image
                .wc-pao-addon-custom-image {

                    // "Choose file" button
                    input[type="file"]::-webkit-file-upload-button {
                        background-color: $color__coolgray;
                        padding: 5px 10px;
                        cursor: cell;
                    }
                }
            }

            // Add-on subtotals
            .product-addon-totals {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;

                .wc-pao-subtotal-line {
                    border-top: 1px solid #ddd;
                }

                .price {
                    font-size: 1.3rem;
                }
            }
        }

        .after-product-summary {

            .related {
                margin-top: 2rem;
            }

            @include mq($mq850) {
                grid-column-start: span 2;
            }
        }
    }

    
    .woocommerce-product-gallery {
        .woocommerce-product-gallery__trigger {
            display: none;
        }

        ol {
            display: flex;
            list-style: none;   
        }
    }

    .variations {
        td.label {
            display: none;
        }

        td.value {
            @include mq($mq850) {
                display: flex;
            }

            div {
                width: 60%;
                margin-bottom: emRhythm(1);

                @include mq($mq850) {
                    width: 100%;
                    flex: 1;
                    margin-right: emRhythm(1);
                    margin-bottom: 0;
                }

                input[type=radio]{
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                label {
                    display: block;
                    @include serif-heading;
                    padding: emRhythm(1);
                    text-align: center;
                    border: emCalc(1) solid $color__mossgreen;
                    cursor: pointer;

                    #{$link-hover-selector}{
                        background-color: $color__mossgreen;
                        color: #fff;
                    }
                }

                & input[type=radio]:checked+label {
                    background-color: $color__mossgreen;
                    color: #fff;
                }
            }
        }
    }

    .quantity {
        display: inline-block;
        margin-bottom: emRhythm();
    }

    .single_add_to_cart_button {
        @include serif-heading;
        padding: emRhythm(3) emRhythm(4);
        width: 100%;
        background-color: $color__mossgreen;
        text-align: center;
        font-size: 1em;
        color: #fff;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }

    .woocommerce-tabs.wc-tabs-wrapper {
        .tabs {
            display: flex;
        }

        li {
            margin-right: emRhythm();

            &.active a {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        a {
            padding-bottom: 0;
            border-bottom: emCalc(1) solid $color__bodyfont;
            @include serif-heading;

            #{$link-hover-selector} {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        .woocommerce-Tabs-panel--description.panel,
        .woocommerce-Tabs-panel--additional_information {
            h2 {
                display: none;
            }

            .woocommerce-product-attributes-item__value {
                p {
                    display: block;
                    margin: 0;
                }
            }
        }
    }
    }

}