.wrapper.event-wrapper{

	padding: 0;

	main.site-main{
		padding-top: 60px;
		position: relative;

		nav.woocommerce-breadcrumb {
			text-align: center;
		}
		.product.product_cat-events{
			// Removing the magnifier icon
			.product-summary .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images .woocommerce-product-gallery__trigger{
				display: none;
			}

			.product_title.entry-title{
				font-size: 1.6rem;
				margin:calc(0.8rem + 10px);

				&:after{
					content: "";
					position: relative;
					display: block;
					width: 100%;
					height: 20px;
					margin: 0.5rem 0;
					background: url(images/assets/botanic-border/botanic-border-shop-sinlge.svg);
					background-repeat: repeat-x;
					background-position: center;
					background-size: contain;
				}
			}

			p.price{
				font-size: 1.3rem;
				margin:calc(0.8rem + 10px);
			}

			.event-details{

				margin: 40px calc(0.8rem + 10px);
				.details{
					display: flex;
					align-items: center;
					margin: 20px 0;

					.icon{
						flex-basis: 30px;
						flex-grow: 0;
						flex-shrink: 0;
						margin-right: 10px;

					}

					.icon.time{
						padding: 3px;
					}
				}
			}

			.event-description{
				margin: 40px calc(0.8rem + 10px);
			}

			.event-map{
				padding-bottom: 484px;
				position: relative;
				margin: 0 calc(0.8rem + 10px);

				.acf-map-border{

					max-height: 300px;
					overflow: hidden;

					.acf-map {
						position: absolute;
						top: 0;
						left: 0;
						padding-top: 100%;
						width: 100%;

						// To keep the marker in center
						.gm-style{
							max-height: 300px;
						}
					}
				}

				.gmnoprint {
					display: none;
				}

			}

			form.cart{
				position: absolute;
				bottom: 0;
				background-color: $color__coolgray;
				color: $color__coolgray;
				width: 100%;
				z-index: 3;
				margin-block-end: 0 ;
				text-align: center;

				label, .label{
					font-size: 1rem;
				}

				fieldset{
					border: none;
				}

				button {
					@include woo-btn-style();
					height: 50px;
					margin-bottom: 40px;
					border-radius: 0;
				}
				
				@include mq(700px){
					text-align: initial;
    				display: flex;
					justify-content: space-between;

					.label{
						display: none;
					}

					button{
						align-self: flex-start;
						margin: 30px auto 0 20px;

					}
				}
			
				.wc-bookings-booking-form{
					border:none;
					padding: 15px 0;
					max-width: 271px;
    				margin: 0 auto;
					
					p.form-field.form-field-wide{
						margin-block-start: 0;
						margin-block-end: 0;
						margin: 20px auto;
						display: flex;
						flex-wrap: wrap;
					}

					p:first-child {
						&:before{
							flex-basis: 100%;
							flex-grow: 0;
							flex-shrink: 0;
							content: "How Many People?";
							position: relative;
							display: inline-block;
							color: black;
							width: 100%;
							background: url(images/assets/events/numbers_1.svg);
							background-repeat: no-repeat;
							background-position: left;
							background-size: contain;
							height: 28px;
							line-height: 28px;
							font-size: 17px;
							margin-bottom: 13px;
						}

						label[for="wc_bookings_field_persons"], input[name="wc_bookings_field_persons"]{
							margin-bottom: 20px;
							margin-top: 20px;
						}
					}

					input{
						margin-left: auto;
						width: 79px;
						border-radius: 0;
					}

					fieldset.wc-bookings-date-picker.wc-bookings-date-picker-booking.wc_bookings_field_start_date{

						line-height: 1em;

						.label:before{
							content: "Select the Date";
							position: relative;
							display: inline-block;
							width: 100%;
							background: url(images/assets/events/numbers_2.svg);
							background-repeat: no-repeat;
							background-position: left;
							background-size: contain;
							height: 28px;
							// This line-hight is for vertically align the content 
							line-height: 28px;
							font-size: 17px;
							margin: 20px 0 13px 0;
						}

						label{
							width: 79px;
						}

						.wc-bookings-date-picker-date-fields {
							margin-top: 10px;
							color: white;
							span{
								color: black;
								text-align: center;
							}
						}
						
					}

					input[type="text"], input[type="number"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"]{
						border: 1px solid #5d6850;
						text-align: center;
						border-radius: 0;
						height: 36px;
					}

					.wc-bookings-date-picker.wc-bookings-date-picker-booking.wc_bookings_field_start_date{
						padding: 0;
					}

					// successful
					.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next{
						background: none;
						width: 7em;
					}

					// successful
					.wc-bookings-date-picker .ui-widget-header{
						background: none;
						border: none;
						color: black;
						font-family: vollcorn;
					}

					// successful
					.wc-bookings-date-picker .ui-datepicker th{
						background: none;
						background-color: $color__beige;
					}
					
					// successful
					.wc-bookings-date-picker .ui-widget-content{
						background: none;
						background-color: transparent;
						font-size: 1rem;
						box-shadow: none;
					}

					// successful
					/* Month header background color */
					.wc-bookings-date-picker .ui-datepicker-header {
						.ui-datepicker-title{
							line-height: 1rem;
						}
						background-color: $color__coolgray;
						background-image: none;
					}

					.ui-datepicker-prev {
						width: 5em;

						span {
							background-image: url(images/assets/events/event-calendar-arrows-prev.svg) !important;
							background-position: 0px 0px !important;
						}
					}
					.ui-datepicker-next{ 
						width: 5em;

						span {
							background-image: url(images/assets/events/event-calendar-arrows-next.svg) !important;
							background-position: 0px 0px !important;
							width: 5em;
						}
					}

					// /* Previous/Next month arrows if not allowed, and calendar dates that are not available */
					// .ui-state-disabled, 
					// .ui-widget-content .ui-state-disabled, 
					// .ui-widget-header .ui-state-disabled {
					// 	opacity: 0.35;
					// 	background: none;
					// 	background-color: transparent;
					// }

					// Header change successful
					/* Days of the week header font color */
					.wc-bookings-date-picker .ui-datepicker th {
						color: #5E6850;
						font-weight: bold;
						font-family: $font__heading;
					}

					// /* Past calendar days background color (not available) */
					// .ui-datepicker-calendar tbody {
					// 	background-color: transparent !important;
					// }

					// successful
					.wc-bookings-date-picker .ui-datepicker td.not_bookable{
						background-color: transparent !important;
					}


					.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default {
						background: $color__beige ;
						color:$color__mossgreen ;
					}

					.wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a, td.ui-datepicker-current-day .ui-state-default {
						background: #9E5E07 !important;
						color: white !important;
						opacity: 1 !important;
					}

					.wc-bookings-date-picker .ui-datepicker td.partial_booked a {
						background-color: $color__mossgreen !important;
						background-image: none !important;
						border-color: rgba(0,0,0,0.1) !important;
						color: #fff !important;
						text-shadow: none;
						position: relative;
						z-index: 1;
					}

					/* Available calendar days background color */
					.wc-bookings-date-picker .ui-datepicker td.bookable a{
						background-color: $color__beige !important;
						color:$color__mossgreen !important;
					}

					/* Available calendar day hover background color */
					.wc-bookings-date-picker .ui-datepicker td.bookable a:hover {
						background-color: $color__mossgreen !important;
						color:black !important;
					}

					// Table border lines succesful
					.wc-bookings-date-picker .ui-datepicker td{
						border-color:$color__mossgreen;
					}

					.wc-bookings-booking-cost {
						background: none !important;
						border-top: none !important;
						color: #36474F !important;
					}

					@include mq(700px){
						max-width: 500px;
						width: 70%;
						margin: initial;
						margin-left: auto;

						.wc-bookings-booking-cost{
							margin: -70px -186px 30px 0;
							padding: 0;
							text-align: right;
						}

						p.form-field.form-field-wide{
							flex-wrap: nowrap;
							flex-direction: row;
							align-items: center;
						}

						p:first-child:before{
							flex-basis: initial;
							flex-grow: initial;
							flex-shrink: initial;
							width: 210px;
							text-align: right;
							margin-right: 20px;
							margin-bottom: 0;
							align-self: center;
						}

						p:first-child input[name='wc_bookings_field_persons']{
							margin: 0;
						}

						label[for='wc_bookings_field_persons'] {
							display: none;
						}

						fieldset.wc-bookings-date-picker.wc-bookings-date-picker-booking.wc_bookings_field_start_date{
							
							.wc-bookings-date-picker-date-fields{
								&:before{
									content: "Select the Date:";
									position: relative;
									display: inline-block;
									width: 184px;
									text-align: right;
									background: url(images/assets/events/numbers_2.svg);
									background-repeat: no-repeat;
									background-position: left;
									background-size: contain;
									height: 28px;
									// This line-hight is for vertically align the content 
									line-height: 28px;
									font-size: 17px;
									margin: 5px 40px 0 0;
									color: black;
								}
							}
						} 

					}
						
				}
			}

		}
	}
}