$s : 700px;
$n : 900px;
.event-wrapper{

	.content-area {
		.site-main{
			padding: 0;
			.product-summary{

				padding: 0 0.8rem;
				h1{
					font-size: 1.65rem;
				}
				.event-description{
					font-size: 0.85rem;

					@include mq($n){
						// padding: 2.25em;
						// font-size: 1.25em;
					}
				}

				.event-details{
					font-size: 0.85rem;
				}
			}
		}
	}

	margin: 0;
	padding:0;

	.acf-map {
		width: 100%;
		height: 700px;
		border: #ccc solid 1px;
		margin: 20px 0;
	}

	.site-footer{
		position: relative;
	}

	form{
		position: absolute;
		bottom: 0;
		background-color: $color__coolgray;
		width: 100vw;
		z-index: 1000;

		fieldset{
			border: none;
		}
	}

	button, input {
		@include woo-btn-style();
	}
}

@mixin form() {

	@import url(sass/forms);
}

 /* 
   Modify the color styles of the WooCommerce Bookings datepicker calendar.
   Add any/all of these styles to your theme's custom CSS, but be sure to change
   the color hex codes to your choice. They're all black here.
*/

$form-bgc: transparent;
$form-input: white;
$form-text: black;

.wc-bookings-booking-form{
	background-color: $form-bgc;
	@include form();

	.wc-bookings-booking-cost{
		background-color: $form-bgc;
		border: none;
	}
}

.event-wrapper .wc-bookings-date-picker{
	 padding-left: none;
	 padding-inline-start: none;
	 padding-block-start: none;
	 padding: 0;
 	.wc-bookings-date-picker-date-fields{
 		color: $form-input;
 		label span{
			color: $form-text;
		}
 	}
}

.wc-bookings-date-picker .ui-datepicker th{
		background: none;
		background-color: $color__beige;
}

// .wc-bookings-booking-form input{
//     background-color: #000000;
// }


.wc-bookings-date-picker .ui-widget-content{
	background: none;
	background-color: transparent;
}
/* Month header background color */
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker-header {
	background-color: $color__coolgray;
}

/* Previous/Next month arrow background color */
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next, 
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev {
	background-color: #000000;
}

/* Previous/Next month arrows if not allowed, and calendar dates that are not available */
.ui-state-disabled, 
.ui-widget-content .ui-state-disabled, 
.ui-widget-header .ui-state-disabled {
	opacity: 0.35;
}

/* Days of the week header background color */
// .ui-datepicker-calendar thead {
 	//background-color: red;
// }

/* Days of the week header font color */
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker th {
	color: #5E6850;
	font-weight: bold;
	font-family: $font__heading;
}

/* Past calendar days background color (not available) */
.ui-datepicker-calendar tbody {
	background-color: none !important;
}
.wc-bookings-date-picker .ui-datepicker td.not_bookable{
	background-color: none !important;
}

/* Available calendar days background color */
.wc-bookings-date-picker .ui-datepicker td.bookable a{
	background-color: $color__beige !important;
	color:$color__mossgreen !important;
}

/* Available calendar day hover background color */
.wc-bookings-date-picker .ui-datepicker td.bookable a:hover {
	background-color: $color__mossgreen !important;
	color:black !important;
}

/* Fully booked calendar days */
.wc-bookings-date-picker .ui-datepicker td.fully_booked a, 
.wc-bookings-date-picker .ui-datepicker td.fully_booked span {
	background-color: #000000 !important;
}

/* Days not bookable based on the availability rules */
// .wc-bookings-date-picker .ui-datepicker td.not_bookable {
// 	//background-color: #FFFFFF !important;
// }

.wc-bookings-date-picker .ui-datepicker td{
	border:#5E6850;
}

/* Today's date on calendar background color */ 
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-today a { 
	background-color: #000000 !important; 
}

/* Time Blocks */
#wc-bookings-booking-form .block-picker li a {
	background-color: #FFFFFF !important;
}

/* Time Blocks Hover */
#wc-bookings-booking-form .block-picker li a:hover {
	background-color: #000000 !important;
}

/* Selected Date*/ 
#wc-bookings-booking-form .wc-bookings-date-picker .ui-datepicker td.ui-datepicker-current-day a {
	background-color: $color__mossgreen !important; 
	color: black !important;
} 

/* Selected Time Block */ 
#wc-bookings-booking-form .block-picker li a.selected { 
background: #ffffff !important; 
}
 