.single-product {
    .woocommerce-tabs.wc-tabs-wrapper {
        .tabs {
            display: flex;
        }

        li {
            margin-right: emRhythm();

            &.active a {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        a {
            padding-bottom: 0;
            border-bottom: emCalc(1) solid $color__bodyfont;
            @include serif-heading;

            #{$link-hover-selector} {
                color: $color__mossgreen;
                border-color: $color__mossgreen;
            }
        }

        .woocommerce-Tabs-panel--description.panel,
        .woocommerce-Tabs-panel--additional_information {
            h2 {
                display: none;
            }
        }
    }

    .variations {
        td.value {
            @include mq($mq850) {
                display: flex;
            }

            div {
                @include mq($mq850) {
                    flex: 1;
                    margin-right: emRhythm();
                }

                input[type=radio]{
                    opacity: 0;
                    position: fixed;
                    width: 0;
                }

                label {
                    display: block;
                    @include serif-heading;
                    padding: emRhythm(1);
                    text-align: center;
                    border: emCalc(1) solid $color__mossgreen;
                    cursor: pointer;
                }
            }
        }
    }
}