@import "functions";
@import "mixins";
@import "settings";
@import "internal";
@import "typesetted";
@import "global-init";

// Typesetting Settings
$font-sans: #{$font__main};
$font-serif: #{$font__heading};
$font-mono: #{$font__code};
$text-color: #{$color__text-main};
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 16px;
$ms-ratio: 1.414;
$paragraph-indent: false;
$paragraph-justify: false;
$load-typesetted: false;